[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
autopep8 = "*"

[packages]
pygame = "==2.0.0.dev6"
pytmx = "*"
pyscroll = "*"

[requires]
python_version = "3.8"
